<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

    <ion-list>
    
      <ion-item>
        <ion-input label="Asignatura" placeholder="codigo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Nota 1" type="number" placeholder="1,0 - 7,0" pattern="^[1-7]\d*$"></ion-input>
          <ion-input label="Porcentaje" type="number" placeholder="%"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Nota 2" type="number" placeholder="1,0 - 7,0" min="1" max="7" step="1"></ion-input>
        <ion-input label="Porcentaje" type="number" placeholder="%"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Nota 3" type="number" placeholder="1,0 - 7,0" pattern="[1-7]{3}" ></ion-input>
        <ion-input label="Porcentaje" type="number" placeholder="%"></ion-input>
      </ion-item>

    
    </ion-list>

    <div>
      <ion-button expand="block" color="primary" >Calcular</ion-button>
    </div>

  </ion-card>

</ion-content>
